playwright==1.49.0
requests==2.32.3
python-dotenv==1.0.1
pydantic==2.10.3
colorama==0.4.6
flet==0.25.0
aiofiles==23.2.1
websockets
beautifulsoup4
lxml
undetected-playwright
playwright-stealth
httpx
pypdf

langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-google-genai==2.0.8
